:root {
  --primary-color: #0A0A0A;
  --secondary-color: #19376D;
  --third-color: #576CBC;
  --light-color: #A5D7E8;

  --primary-text-color: #ffffff;
  --secondary-text-color: #a3a9b4;
  --dark-text-color: #000000;
}
